/* styles.css 파일 */
.form-group {
    margin-bottom: 20px; /* 각 요소 사이의 간격을 조절합니다. */
  }
  
  label {
    display: block; /* 라벨 요소를 블록 수준 요소로 만들어 줍니다. */
    margin-bottom: 5px; /* 라벨 아래 여백을 추가합니다. */
  }
  
  input[type="text"],
  textarea {
    width: 100%; /* 폼 요소를 가로폭 100%로 설정하여 폭을 채우도록 합니다. */
  }
  
  button[type="submit"] {
    margin-top: 10px; /* 제출 버튼 위쪽 여백을 추가합니다. */
  }
  

  